Initial table for project index
<table class="table animate__animated animate__slideInLeft">
  <thead>
    <tr>
      <th>Project Name</th>
      <th>Subject</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.subject %></td>
        <td><%= link_to 'Show', project %></td>
        <% if teacher_signed_in? %>
          <td><%= link_to 'Edit', edit_project_path(project) %></td>
          <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


  <h3>
    <!-- <strong>Project:</strong> -->
    <%= @project.name %>
  </h3>
  <p style="font-size:25px">
    <!-- <strong>Subject:</strong> -->
    <%= @project.subject%>
  </p>

  <br>