<p id="notice"><%= notice %></p>

<div class="row margin flex-edges">
  <div>
    <h3>
      <strong>Project:</strong>
      <%= @project.name %>
    </h3>
  </div>

  <div class="paper-btn padding-small"style="font-size:25px" ><strong><%= link_to 'View Materials', project_materials_path %></strong></div>
  <div class="paper-btn padding-small"style="font-size:25px">
    <strong><%= link_to 'View Project Tasks', project_tasks_path %></strong>
  </div>
</div>

<p class="margin text-large">
  <strong>Subject:</strong>
  <%= @project.subject%>
</p>

<h3 class="margin text-center">
  <strong>INSTRUCTIONS</strong>
</h3>

<div class="row flex-right margin-right">
    <h6><label for="modal-new" class="paper-btn margin-small">Add New Instruction</label></h6>
    <h6><label id="reveal-edits" class="paper-btn margin-small">Edit Instruction</label></h6>
</div>

<div class="row flex-spaces margin">
  <%instructionnum = 1%>
  <% @project.instructions.each do |instruction|%>
    <div class="border col-8 text-large margin-small text-center">
    <% modalid = "modal-instruction-#{instruction.id}" %>
      <div style="font-size:20px">
          <div class="collapsible row padding-left padding-right">
            <input id="collapsible-todo<%=instructionnum%>" type="checkbox" name="collapsible">
            <label for="collapsible-todo<%=instructionnum%>" style="text-align: left; font-size: 20px; font-weight:normal; line-height: 1.5em"><%=instruction.description%></label>
            <div class="collapsible-body">
              <%= link_to 'Download', instruction.document, download: '' %>
            </div>
          </div>
      </div>
      <div class="row flex-center">
        <div class="edit-options d-none" style="font-size:20px">
          <label style="line-height: normal" class="paper-btn btn-secondary padding-small margin-small" for=<%=modalid%>>Edit</label>
        </div>
        <input class="modal-state" id=<%=modalid%> type="checkbox">
        <div class="modal">
          <label class="modal-bg" for=<%=modalid%>></label>
          <div class="modal-body">
            <h4>Edit Instruction for <%= instruction.project.name %></h4>
            <%= form_with url: "/projects/#{@project.id}/instructions/#{instruction.id}", model: instruction, local: true do |form| %>
              <p class="field margin-bottom-small" style="font-size:15px">
                <%= form.label :description %><br>
                <%= form.text_area :description, :value => instruction.description, class:"no-resize", rows: 6, cols: 80 %>
              </p>
              <p class="field margin-bottom-small" style="font-size:15px">
                <%= form.label :document %><br>
                <%= form.file_field :document, direct_upload: true %>
              </p>
              <p>
                <%= form.hidden_field :project_id, :value => instruction.project.id %>
              </p>
              <p class="field margin-bottom-small" style="font-size:15px">
                <%= form.submit %>
              </p>
            <% end %>
          </div>
        </div>
        <div class="edit-options d-none"><%= button_to  "Delete", project_instruction_path(@project, instruction), method: :delete , data: { confirm: 'Are you sure?' }, class:"paper-btn padding-small margin-small" %>
        </div>
      </div>
    </div>
  <%instructionnum += 1%>
  <% end %>
</div>



<input class="modal-state" id="modal-new" type="checkbox">
<div class="modal">
  <label class="modal-bg" for="modal-new"></label>
  <div class="modal-body">
    <%= render 'instructions/form'  %>
  </div>
</div>

<%= javascript_include_tag 'projects' %>
