<p id="notice"><%= notice %></p>

<p>
  <strong>Project:</strong>
  <%= @instruction.project.subject%>
</p>

<p>
  <strong>Description:</strong>
  <%= @instruction.description %>
</p>

<p>
  <strong>File:</strong>
    <%= link_to 'View File', @instruction.document %>
    <%= link_to 'Download', @instruction.document, download:'' %>
</p>


<% if teacher_signed_in? %>
  <span><%= link_to 'Edit', edit_project_instruction_path(@instruction) %></span>
  <span><%= link_to 'Delete', project_instruction_path(@instruction),
        method: :delete,
        data: { confirm: 'Are you sure?' } %> </span>
<% end %>

<%= link_to 'Back', project_instructions_path %>
