<h1>Edit Project for <%= @teacher.name %></h1>

<%= form_with scope: :project, model: @project, local: true do |form| %>
  <p>
    <%= form.label :subject %><br>
    <%= form.text_field :subject %>
  </p>

  <p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </p>

  <fieldset class="form-group">
    <legend>Students</legend>
    <% @students.each do |student| %>
      <%if @project.student_ids.include?(student.id) %>
        <label for="student-<%=student.id%>" class="paper-check">
          <input type="checkbox" name="student_ids[]" id="student-<%=student.id%>" value=<%=student.id%> checked> <span><%=student.name%></span>
        </label>
      <%else%>
        <label for="student-<%=student.id%>" class="paper-check">
          <input type="checkbox" name="student_ids[]" id="student-<%=student.id%>" value=<%=student.id%>> <span><%=student.name%></span>
        </label>
      <%end%>
    <% end %>
  </fieldset>



  <p>
    <%= form.hidden_field :teacher_id, :value => @teacher.id %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', projects_path %>

