
<p class="margin" id="notice"><%= notice %></p>
<div class= "row margin padding-none">
<h3 class="padding-none  animate__animated animate__bounce">Hi <%=@current_user.name%> !</h3>
</div>

<% if teacher_signed_in? %>
  <div class= "row margin">
  <%if @projects.empty?%>
    <h3>No projects to show</h3>
  <%else%>
      <div class="row flex-left margin-none col-12">

      <h3 style="margin: 0 20px 0 0">Projects</h3>  
      <%# Sort Form %>
        <label for="modal-sort" class="paper-btn" style="padding: 0.5rem; font-family: 'Neucha'">Sort By</label>
      <input class="modal-state" id="modal-sort" type="checkbox">
      <div class="modal">
        <label class="modal-bg" for="modal-sort"></label>
        <div class="modal-body">
            <%= form_tag projects_path, method: :get do %>
              
              <p style="font-size: 20px"><label for="assignment">Assignment</label>
              <%= select_tag "assignment", options_for_select(@projectsall.map{|a| a.assignment}.uniq), {include_blank: "All"}%></p>
              
              <p style="font-size: 20px"><label for="subject">Subject</label>
              <%= select_tag "subject", options_for_select(@projectsall.map{|a| a.subject}.uniq), {include_blank: "All"} %></p>

              <p><%= submit_tag "Search", name: nil, style: "padding: 0.5rem", class:"paper-btn" %></p>   
            <% end %>

        </div>
      </div>

    </div>

    <div class= "row flex-left" style="margin: 0">
    <% @projects.select(:assignment).distinct.each do |project| %>
      <div class= "row margin flex-left col-12">
      <div class= "col-12"><h4 style="margin-bottom: 20px; margin-top:10px"><%=project.assignment%></h4></div>
      <br>
        <div class="row flex-left col-12 margin-none">
          <% @projects.where(assignment: project.assignment).each do |proj| %>
              <div class="card border" style="width: 20rem;">
                <div class="card-body">
                  <h4 class="card-title"><%= proj.name %></h4>
                  <h5 class="card-subtitle">Subject: <%=proj.subject%></h5>
                  <p class="card-text text-medium"><strong>Students: </strong>
                        <% proj.students.each do |student| %>
                          <span>| </span><%=student.name%>
                        <%end%>
                        <span> |</span></p>
                  <%= link_to 'View', proj ,class:"card-link text-large"%>
                  <% if teacher_signed_in? %>
                    <%= link_to 'Edit', edit_project_path(proj),class:"card-link text-large" %>
                    <%= link_to 'Delete', proj, method: :delete, data: { confirm: 'Are you sure?' },class:"card-link text-large" %>
                  <% end %>
                </div>
              </div>
          <%end%>
        </div>
      <br>
      </div>
    <% end %>
    </div>
  <%end%>
  </div>


  </div>

  <div class= "row margin ">

  <% if teacher_signed_in? %>

  <%= link_to 'New Project', new_project_path , class: "paper-btn animate__animated animate__slideInRight"%>
  <%#= link_to 'Log Out', destroy_teacher_session_url, method: :delete %>
  <%# else %>
  <%#= link_to 'Teacher Log In', new_teacher_session_url %>
  <% end %>
  </div>
<% end %>

<% if student_signed_in? %>
  <div class= "row margin">
    <%if @projects.empty?%>
      <h3>No projects to show</h3>
    <%else%>
      <div class="row flex-left margin-none">
        <h3 style="margin: 0 20px 0 0">Projects</h3>
        <%# Sort Form %>
        <label for="modal-sort" class="paper-btn" style="padding: 0.5rem; font-family: 'Neucha'">Sort By</label>
        <input class="modal-state" id="modal-sort" type="checkbox">
        <div class="modal">
          <label class="modal-bg" for="modal-sort"></label>
          <div class="modal-body">
              <%= form_tag projects_path, method: :get do %>
                
                <p style="font-size: 20px"><label for="subject">Subject</label>
                <%= select_tag "subject", options_for_select(@projectsall.map{|a| a.subject}.uniq), {include_blank: "All"} %></p>

                <p><%= submit_tag "Search", name: nil, style: "padding: 0.5rem", class:"paper-btn" %></p>   
              <% end %>

          </div>
        </div>
      </div>
      <%# Index of Projects %>
      <div class= "row flex-left col-12">
        <% @projects.select(:subject).distinct.each do |project| %>
          <div class="row flex-left margin col-12">
            <div class="col-12"><h4 style="margin-bottom: 0; margin-top:10px"><%=project.subject%></h4>
            <br></div>
              <div class="col-12">
                <% @projects.where(subject: project.subject).each do |proj| %>
                    <div class="card border" style="width: 20rem;">
                      <div class="card-body">
                        <h4 class="card-title"><%= proj.name %></h4>
                        <h5 class="card-subtitle">Assignment: <%=proj.assignment%></h5>
                        <p class="card-text text-medium"><strong>Students: </strong>
                              <% proj.students.each do |student| %>
                                <span>| </span><%=student.name%>
                              <%end%>
                              <span> |</span></p>
                        <%= link_to 'View', proj ,class:"card-link text-large"%>
                      </div>
                    </div>
                <%end%>
              </div>
            <br>
          </div>
        <% end %>
      </div>

    <%end%>
    <br/>
  </div>


  <br/>
  </div>


<% end %>