<div class = "row margin">
<h3>New Project for <%= @teacher.name %>'s class</h3>
</div>

<%= form_with scope: :project, url: projects_path, local: true do |form| %>

  <p class="margin text-large">
    <%= form.label :assignment,"Assignment: " %><br>
    <%= form.text_field :assignment, list: "current-assignments" %>
    <datalist id="current-assignments">
      <% @projassignments.each do |proj| %>
        <option>
          <%=proj.assignment%>
        </option>
      <% end %>
    </datalist>
  </p>

  <p class="margin text-large">
    <%= form.label :name,"Name: "%><br>
    <%= form.text_field :name %>
  </p>

  <p class="margin text-large">
    <%= form.label :subject,"Subject: " %><br>
    <%= form.text_field :subject %>
  </p>

  <fieldset class="form-group margin">
    <legend><p class="text-large">Students: </p></legend>
    <% @students.each do |student| %>
      <label for="student-<%=student.id%>" class="paper-check text">
        <input type="checkbox" name="student_ids[]" id="student-<%=student.id%>" value=<%=student.id%>> <span><%=student.name%></span>
      </label>
    <% end %>
  </fieldset>
 
  <p>
    <%= form.hidden_field :teacher_id, :value => @teacher.id %>
  </p>

  <p>
    <%= form.submit "Create Project", :class => "paper-btn margin"%>
  </p>
<% end %>

<%= link_to 'Back to Projects', projects_path, class:"margin text-large"%>
