<h1>Projects#show</h1>

<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @project.subject %>
</p>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task #</th>
      <th scope="col">Task Name</th>
      <th  colspan="5"></th>
    </tr>
  </thead>
<% @tasks.each do |task|%>
    <tr>
        <td><%=task.id%></td>
        <td><%=task.name%></td>
        <td><%= link_to 'Edit', edit_project_task_path(task.project_id, task.id) %></td>
        <td><%= link_to  "Delete", project_task_path(task.project_id, task.id), method: :delete , data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>

  </tbody>
</table>
<%= render 'tasks/form'  %>



<% if teacher_signed_in? %>
  <span><%= link_to 'Edit', edit_project_path(@project)%></span>
  <span><%= link_to 'Delete', project_path(@project),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></span>
<% end %>

<%= link_to 'Back', projects_path %>
