<h1>Projects#show</h1>

<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @project.subject %>
</p>




<% if teacher_signed_in? %>
  <span><%= link_to 'Edit', edit_project_path(@project)%></span>
  <span><%= link_to 'Delete', project_path(@project),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></span>
<% end %>

<%= link_to 'Back', projects_path %>
