<h1>PROJECT Materials</h1>
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Subject:</strong>
  <%= @project.subject %>
</p>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Project</th>
      <th scope="col">Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <%materialnum = 1%>
  <% @materials.each do |material|%>
    <% modalid = "modal-task-#{material.id}"%>
    <tr>
      <td><%=materialnum%></td>
      <td>
        <%=material.title%><br>
      </td>
      <td>
        <div style="display: inline">
          <label class="paper-btn margin" for="modal-2">Show</label>
        </div>
        <input class="modal-state" id="modal-2" type="checkbox">
        <div class="modal">
          <label class="modal-bg" for="modal-2"></label>
          <div class="modal-body">
            <h3><%= material.title %></h3>

          </div>
        </div>
      </td>
      <td class="edit-options d-none">
        <div>
          <div style="display: inline">
            <label style="line-height: normal" class="paper-btn padding-small" for=<%=modalid%>>Edit</label>
          </div>
          <input class="modal-state" id=<%=modalid%> type="checkbox">
          <div class="modal">
            <label class="modal-bg" for=<%=modalid%>></label>
            <div class="modal-body">
              <h1>Edit Material for <%= material.project.name %></h1>
              <%= form_with url: "/projects/#{@project.id}/materials/#{material.id}", model: material, local: true do |form| %>
                <p>
                  <%= form.label :title %><br>
                  <%= form.text_field :title, :value => material.title %>
                </p>
                <p>
                  <%= form.label :images %><br>
                  <%= form.file_field :images, multiple: true, direct_upload: true %>
                </p>
                <p>
                  <%= form.hidden_field :project_id, :value => material.project.id %>
                </p>
                <p>
                  <%= form.submit %>
                </p>
              <% end %>
              <%= link_to 'Back', project_materials_path %>
          </div>
        </div>
      </div>
      </td>
      <td class="edit-options d-none"><%= button_to  "Delete", project_material_path(material.project_id, material.id), method: :delete , data: { confirm: 'Are you sure?' }, class:"paper-btn padding-small" %></td>
    </tr>
    <%materialnum += 1%>
    <% end %>
  </tbody>
</table>
<br>
  <div style="display: inline">
    <label class="paper-btn margin" for="modal-1">New</label>
  </div>
  <input class="modal-state" id="modal-1" type="checkbox">
  <div class="modal">
    <label class="modal-bg" for="modal-1"></label>
    <div class="modal-body">
      <%= render 'materials/form' %>
    </div>
  </div>

<div style="display: inline">
  <button id="reveal-edits" >Edit</button>
</div>

<div style="display: inline">
  <%= link_to 'Back', projects_path %>
</div>



