<div class="row margin flex-right">
  <div>
    <strong>
      <%= link_to 'Instructions', project_instructions_path, class:"paper-btn", style:"font-size: 24px"  %>
    </strong>
  </div>
  <div>
    <strong><%= link_to 'Tasks', project_tasks_path, class:"paper-btn margin-left", style:"margin-right: 35px; font-size: 24px" %>
    </strong>
  </div>
</div>

<div class="container" style="min-width: 400px">
  <h3>
    <!-- <strong>Project:</strong> -->
    <%= @project.name %>
  </h3>
  <p style="font-size:25px">
    <!-- <strong>Subject:</strong> -->
    <%= @project.subject%>
  </p>

  <br>

  <h3 class="margin text-center text-secondary">
    <strong>MATERIALS</strong>
  </h3>

  <% if teacher_signed_in? %>
    <div class="row" style="position: fixed; bottom: 0px; right: 50px; margin: 0; padding: 0">
        <h6><label for="modal-new" class="paper-btn" style="border-radius: 10px 10px; background-color:lightblue; margin: 3px; font-size:28px; padding:15px 15px">+</label></h6>
        <h6><label id="reveal-edits" class="paper-btn" style="border-radius: 10px 10px; background-color:pink; margin: 3px; font-size:28px; padding:15px 15px;">Edit</label></h6>
    </div>
  <% end %>

  <br>

  <div class="text-center">
        <p id="notice" style="font-size: 24px; color:red;"><%= notice %></p>
  </div>

  <div class="row flex-center margin">
    <%materialnum = 1%>
    <% @project.materials.each do |material|%>
      <div class="border margin">
      <% modalid = "modal-material-#{material.id}" %>
        <div style="font-size:20px; display: inline">
          <div class="margin-small" >
            <div class="" >
              <label style="font-size: 20px; font-weight:normal; line-height: 1.5em"><%=material.title%></label>
            </div>
            <div class="">
              <% if material.photo.attached? %>
                <p><%= image_tag(material.photo, style:"width: 350px; height: 300px; background-size:cover; background-position:center; background-repeat:no-repeat")%></p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="row flex-center">
          <div class="edit-options d-none" style="font-size:20px">
            <p><label style="line-height: normal" class="paper-btn btn-secondary padding-small" for=<%=modalid%>>Edit</label></p>
          </div>
          <input class="modal-state" id=<%=modalid%> type="checkbox">
          <div class="modal">
            <label class="modal-bg" for=<%=modalid%>></label>
            <div class="modal-body">
              <h4>Edit Material for <%= material.project.name %></h4>
              <%= form_with url: "/projects/#{@project.id}/materials/#{material.id}", model: material, local: true do |form| %>
                <p>
                  <%= form.label :title %><br>
                  <%= form.text_field :title, :value => material.title %>
                </p>
                <p>
                  <%= form.label "JPG/JPEG/PNG format only" %><br>
                  <%= form.file_field :photo, direct_upload: true, accept: "image/jpeg image/jpg image/png" %>
                </p>
                <p>
                  <%= form.hidden_field :project_id, :value => material.project.id %>
                </p>
                <p>
                  <%= form.submit "Update Material", class:"paper-btn  padding-small" %>
                </p>
              <% end %>
            </div>
          </div>
          <div class="edit-options d-none"><%= button_to  "Delete", project_material_path(@project, material), method: :delete , data: { confirm: 'Are you sure?' }, class:"paper-btn btn-danger padding-small margin-small " %>
          </div>
        </div>
      </div>
    <%materialnum += 1%>
    <% end %>
  </div>

  <input class="modal-state" id="modal-new" type="checkbox">
  <div class="modal">
    <label class="modal-bg" for="modal-new"></label>
    <div class="modal-body">
      <%= render 'materials/form'  %>
    </div>
  </div>

</div>
  <%= javascript_include_tag 'projects' %>