<p id="notice"><%= notice %></p>

<div class="row margin flex-edges">
  <div>
    <h3>
      <strong>Project:</strong>
      <%= @project.name %>
    </h3>
  </div>

  <div class="paper-btn padding-small"style="font-size:25px" ><strong><%= link_to 'View Instructions', project_instructions_path %></strong></div>
  <div class="paper-btn padding-small"style="font-size:25px">
    <strong><%= link_to 'View Project Tasks', project_tasks_path %></strong>
  </div>
</div>

<p class="margin text-large">
  <strong>Subject:</strong>
  <%= @project.subject%>
</p>

<h3 class="margin text-center">
  <strong>MATERIALS</strong>
</h3>

<div class="row flex-right margin-right">
    <h6><label for="modal-new" class="paper-btn margin-small">Add New Material</label></h6>
    <h6><label id="reveal-edits" class="paper-btn margin-small">Edit Material</label></h6>
</div>

<div class="row flex-top flex-left margin">
  <%materialnum = 1%>
  <% @project.materials.each do |material|%>
    <div class="border margin">
    <% modalid = "modal-material-#{material.id}" %>
      <div style="font-size:20px; display: inline">
        <div class="margin-small" >
          <div class="" >
            <label style="font-size: 20px; font-weight:normal; line-height: 1.5em"><%=material.title%></label>
          </div>
          <div class="">
            <div class="">
              <p><%= image_tag(material.photo, style:"width: 350px; height: 300px; background-size:cover; background-position:center; background-repeat:no-repeat")%></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row flex-center">
        <div class="edit-options d-none" style="font-size:20px">
          <label style="line-height: normal" class="paper-btn btn-secondary padding-small margin-small" for=<%=modalid%>>Edit</label>
        </div>
        <input class="modal-state" id=<%=modalid%> type="checkbox">
        <div class="modal">
          <label class="modal-bg" for=<%=modalid%>></label>
          <div class="modal-body">
            <h4>Edit Material for <%= material.project.name %></h4>
            <%= form_with url: "/projects/#{@project.id}/materials/#{material.id}", model: material, local: true do |form| %>
              <p>
                <%= form.label :title %><br>
                <%= form.text_field :title, :value => material.title %>
              </p>
              <p>
                <%= form.label :images %><br>
                <%= form.file_field :images, multiple: true, direct_upload: true %>
              </p>
              <p>
                <%= form.hidden_field :project_id, :value => material.project.id %>
              </p>
              <p>
                <%= form.submit %>
              </p>
            <% end %>
          </div>
        </div>
        <div class="edit-options d-none"><%= button_to  "Delete", project_material_path(@project, material), method: :delete , data: { confirm: 'Are you sure?' }, class:"paper-btn padding-small margin-small" %>
        </div>
      </div>
    </div>
  <%materialnum += 1%>
  <% end %>
</div>



<input class="modal-state" id="modal-new" type="checkbox">
<div class="modal">
  <label class="modal-bg" for="modal-new"></label>
  <div class="modal-body">
    <%= render 'materials/form'  %>
  </div>
</div>

<%= javascript_include_tag 'projects' %>