<p id="notice"><%= notice %></p>

<p>
  <%= @project.subject%>
</p>

<p>
  <%= @material.title %>
</p>

<p>
  <% (0..@material.photos.count-1).each do |photo| %>
  <%= image_tag(@material.photos[photo], width: 300, height: 200)%>
  <% end %>
</p>

<%= link_to 'Back', project_materials_path %>
